.info-container {
  margin: 30px 160px 30px 40px;
  display: flex;
  justify-content: space-evenly;
}

.form-container {
  display: inline-block;
  padding: 1%;
  border-radius: 12px;
  background: rgb(255, 225, 195);
  border: 1px solid rgba(112, 57, 18, 1);
  height: 100%;
}

.form-container>h4 {
  margin: 0;
  color: rgba(120, 20, 5, 1);
}

form {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr 2fr;
}

.homepage-landing-header {
  color: rgba(90, 49, 20, 1);
  margin: 12px 0 58px 0;
}

.homepage-landing-header>* {
  margin: 0;
}

.homepage-landing-header>h1 {
  font-family: 'Uncial Antiqua', cursive;
  text-align: center;
  font-size: 70px;
}

.homepage-landing-header>p {
  text-align: center;
}

.form-button {
  height: 50px;
}

.form-button>.hearthstone-button-image {
  position: absolute;
  z-index: 0;
  height: 60px;
}

.form-button>button {
  position: absolute;
  margin: 4px 0 0 9px;
  transform: rotate(-2deg);
  padding: 15px 15px;
  background: transparent;
  border: none;
  color: rgb(123, 60, 31);
  font-weight: 900;
}

.instructions {
  display: inline-block;
  position: absolute;
  text-align: left;
  color: rgba(120, 20, 5, 1);
  background: rgb(255, 225, 195);
  border: 1px solid rgba(112, 57, 18);
  border-radius: 12px;
  padding: 1%;
  margin-left: 40px;
}

.instructions-detail {
  display: none;
}

.instructions-detail>* {
  margin: 5px;
  text-align: left;
}

.instructions>p {
  display: inline-block;
}

.instructions>h4 {
  margin: 0;
}

.show-button {
  cursor: pointer;
  position: absolute;
  font-size: 17px;
  transition: .75s;
  color: rgba(130, 39, 15, 1);
}

.search-form {
  width: 400px;
}

.search-form>label {
  color: rgba(130, 49, 20, 1);
  padding-left: 15px;
}

.search-form>input,
select {
  border: 2px inset rgba(255, 230, 230, 1);
  background: rgba(253, 249, 243, 1);
  color: rgba(130, 39, 15, 1);
}

.search-form>select {
  color: rgba(164, 69, 30, .6);
}

.search-form>button {
  width: 50%;
}

.search-form>input::placeholder {
  color: rgba(164, 69, 30, .6);
}

.hstone-picture-wrapper {
  display: flex;
  height: 300px;
  justify-content: flex-end;
}

.hstone-picture-wrapper>img {
  height: 100%;
}

.results-container {
  border-radius: 12px;
  background: rgba(243, 187, 90, .3);
  border: 1px solid rgba(112, 57, 18);
  padding: 1%;
}

.results-container>h4 {
  text-align: left
}

.result-list {
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 0;
  grid-template-columns: repeat(5, 1fr);
}

.result-list>li {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin-bottom: 75px;
}

.result-list>li>h4 {
  margin: 0;
}

.result-list>li>img {
  height: 250px;
  transition: .75s;
}

.result-list>li>img:hover {
  height: 350px;
}

.result-list>li>img.noHover:hover {
  height: 250px;
}

.result-list p {
  display: block;
  margin: auto;
  width: 60%;
  border-radius: 12px;
}

.user-collection-list-item {
  color: mediumblue;
  font-weight: 700;
}

.minimum-warning {
  color: red;
  font-size: 40px;
}

/* User Collection */

.deck-component {
  display: absolute;
  position: fixed;
  height: 90vh;
  right: 0;
  margin-top: 12px;
  width: 120px;
  border: 1px solid rgba(112, 57, 18);
  background: rgba(255, 225, 195, .7);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.deck-component>p {
  text-align: center;
  color: rgba(130, 49, 20, 1);
}

.user-collection {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user-collection>p {
  text-align: center;
  font-weight: 700;
  color: rgba(130, 49, 20, 1);
  border-bottom: 1px solid rgba(112, 57, 18);
  margin: 7px 0 0 0;
}

.collection-title {
  text-align: left;
  color: rgba(130, 49, 20, 1);
  font-size: 32px;
  margin: 0;
}

.search-results-title {
  text-align: center;
  color: rgba(130, 49, 20, 1);
  font-size: 32px;
  margin: 0;
}

.user-collection-list {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
}

.user-collection-list>li {
  display: inline-block;
  list-style: none;
  width: 100%;
}

.user-collection-list>li>p {
  display: inline;
}

.card-count {
  border-top: 1px solid rgba(112, 57, 18);
}

.card-count>p {
  text-align: center;
  color: rgba(130, 49, 20, 1);
  margin: auto;
}

.user-collection-button {
  display: flex;
  justify-content: center;
  height: 50px;
}

.user-collection-button>.hearthstone-button-image {
  position: absolute;
  height: 50px;
  width: 100px;
  padding-top: 2px;
  z-index: -1;
}

.user-collection-button>button {
  background: transparent;
  border: none;
  color: rgba(130, 49, 20, 1);
  transform: rotate(-2deg);
  font-weight: 900;
  top: -2px;
}

.results-your-collection-container {
  padding: 1%;
  background: rgba(167, 81, 50, 0.3);
  border: 1px solid rgba(112, 57, 18);
  border-radius: 12px;
}

.results-your-collection-container>h4 {
  display: inline-block;
}

/* Spinner */

.loading-component>p {
  font-size: 40px;
  text-align: center;
}

.loading-spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: spinner 2s infinite linear;
  color: black;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.values-container {
  display: inline-block;
  padding: 1%;
  border-radius: 3px;
  color: rgba(90, 49, 20, 1);
  width: 400px;
  border: 1px solid rgba(112, 57, 18);
  background: rgba(243, 187, 90, .3);
}

.values-container>h1 {
  margin: 0;
}

.value-wrapper {
  display: inline-block;
  margin: 12px;
  padding: 1%;
  min-width: 90%;
  border-radius: 3px;
  border: 1px solid rgba(112, 57, 18);
  background: rgba(243, 187, 90, .3);
}

.value-wrapper>h2 {
  margin: 12px auto;
}

@keyframes rotateForty {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(90deg);
  }
}