.form-container {
  display: inline-block;
  margin: 100px;
  padding: 30px;
  border-radius: 12px;
  background: rgba(243, 187, 90, .3);
  border: 1px solid rgba(112, 57, 18);
}

form {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.homepage-landing-header {
  color: rgba(90, 49, 20, 1);
  text-align: center;
}

.search-form {
  width: 400px;
}

.search-form>label {
  color: rgba(130, 49, 20, 1);
}

.search-form>input,
select {
  border: 2px inset #EBE9ED;
  background: rgba(253, 249, 243, 1);
  color: rgba(130, 39, 15, 1);
}

.search-form>select {
  color: rgba(164, 69, 30, .6);
}

.search-form>input::placeholder {
  color: rgba(164, 69, 30, .6);
}

.results-container {
  border-radius: 12px;
  background: rgba(243, 187, 90, .3);
  border: 1px solid rgba(112, 57, 18);
}

.result-list {
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);
}

.result-list>li {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin-bottom: 75px;
}

.result-list>li>h4 {
  margin: 0;
}

.result-list>li>img {
  height: 250px;
  transition: .75s;
}

.result-list>li>img:hover {
  height: 350px;
}

.result-list>li>img.noHover:hover {
  height: 250px;
}

.result-list p {
  margin: 10px auto;
}

.user-collection-list-item {
  color: mediumblue;
}

/* Aside Deck */

.deck-component {
  display: absolute;
  position: fixed;
  right: 0;
  height: 80vh;
  width: 120px;
  border: 1px solid rgba(112, 57, 18);
  background: rgba(243, 187, 90, .3);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

aside>p {
  text-align: center;
  color: rgba(130, 49, 20, 1);
}

.user-collection {
  height: 85%;
}

.user-collection>p {
  margin: 7px 0 0 0;
}

.collection-title {
  text-align: center;
  color: rgba(130, 49, 20, 1);
  font-size: 32px;
  margin: 0;
}

.search-results-title {
  text-align: center;
  color: rgba(130, 49, 20, 1);
  font-size: 32px;
  margin: 0;
}

.user-collection-list {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
}

.card-count {
  text-align: center;
}

.card-count>p {
  color: rgba(130, 49, 20, 1);
  margin: auto;
}

.user-collection-list>li {
  display: inline-block;
  list-style: none;
  width: 100%;
}

.user-collection-list>li>p {
  display: inline;
}

.your-collection {
  border-radius: 12px;
  background: rgba(167, 81, 50, 0.3);
  border: 1px solid rgba(112, 57, 18);
}

/* Spinner */

.loading-component>p {
  font-size: 40px;
  text-align: center;
}

.loading-spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: spinner 2s infinite linear;
  color: black;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.values-container {
  padding: 1%;
  margin-bottom: 100px;
  border-radius: 3px;
  color: rgba(90, 49, 20, 1);
  border: 1px solid rgba(112, 57, 18);
  background: rgba(243, 187, 90, .3);
}

.value-wrapper {
  display: inline-block;
  margin: 12px;
  padding: 1%;
  border-radius: 3px;
  border: 1px solid rgba(112, 57, 18);
  background: rgba(243, 187, 90, .3);
}