@media (max-width: 700px) {
  .deck-component {
    background: rgba(255, 225, 195, 1);
    width: 70px;
  }

  .user-collection-button>.hearthstone-button-image {
    width: 60px;
  }

  .user-collection-list {
    overflow: auto;
  }

  .user-collection-list>li>p {
    font-size: 12px;
  }

  .user-collection-list>li {
    text-align: center;
  }

}