
.navbar {
  text-align: right;
}

.navbar>li {
  display: inline-block;
  margin-left: 20px;
  
}

.navbar>li>a {
  text-decoration: none;
  color: #3f3f3f;
}

.hstone-logo img {
  position: absolute;
  top: 50px;
  left: 50px;
  height: 75px;
}
